body {
    background-color: #edf7ff;
}

h1 {
    color:#0a2ff1;
    font-size: 117px;
    font-family: 'MuseoModerno', cursive;
}

h2 {
    color : #0a2ff1;
    font-size: 52px;
    font-family: 'Asap', sans-serif;
}

.parrafo {
    color : #04146c ;
    font-size: 33px;
    font-family: 'Asap', sans-serif;
}

.conocer {
    color:#0a2ff1;
    font-size: 48px;
    font-family: 'MuseoModerno', cursive;
}

ul {
    font-size: 33px;
    font-family: 'Asap', sans-serif;
}

.modo{
    color:#8a9af1 ;
    font-family:'MuseoModerno', cursive;
    font-size: 198px;
}














